.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.header {
  display: grid;
  box-shadow: 0 4px 50px 4px rgb(64 67 63 / 16%);
  border-radius: 0.7rem;
  flex-wrap: wrap;
}

.dataContainer:last-child {
  border: none;
}

.helper {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.63);
}

.dataContainer {
  display: flex;
  padding: 0.7rem;
  border-bottom: 1px solid #ededed;
  gap: 0.7rem;
}

.dateContainer {
  display: flex;
  flex: 1;
  gap: 0.7rem;
  align-items: center;
}

.date {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.87);
}

.roomImageContainer {
  width: 150px;
  background-color: #ccc;
  overflow: hidden;
  border-radius: 0.7rem;
}

.roomImage {
  aspect-ratio: 1 / 0.9;
  width: 100%;
  object-fit: cover;
}

.roomTitle {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.87);
}

.icon {
}

.parkingIcon {
  stroke: #aaa;
}

.petIcon {
  fill: #aaa;
}

.icon[parking='true'] {
  stroke: #09f;
}

.icon[pets='true'] {
  fill: #09f;
  stroke: transparent;
}
